<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
.active{
  color: firebrick;
}
span{
  display: inline-block;
  margin-left: 20px;
}
</style>
<body>
  <div id="app">
    <div>
      <p>待辦事項</p>
      <input type="text" @keyup.enter.exact="addTodo" v-model.trim="task" placeholder="準備要做的任務">
      <button type="button" v-text="addText" @click="addTodo">{{ addText }}</button>
    </div>
    <div>
      <a :class="{'active': visibility == 'all'}" @click="visibility='all'" href="#">全部</a> &nbsp;
      <a :class="{'active': visibility == 'active'}" @click="visibility='active'" href="#">進行中</a> &nbsp;
      <a :class="{'active': visibility == 'completed'}" @click="visibility='completed'" href="#">已完成</a> &nbsp;
    </div>
    <ul >
      <li v-for="(item, key) in filteredTodos">
        <template v-if="item.id !== cacheTodo.id">
          <input type="checkbox"  v-model="item.completed"> &nbsp;
          <label>{{item.title}}</label>&nbsp;
          <button @click="editTodo(item)">編輯</button>
          <button @click="removeTodo(item)">刪除</button>
        </template>
        <input type="text"
               v-model="cacheTitle" 
               @keyup.esc="cancelEdit()"
               @keyup.enter ="doneEdit(item)"
               v-if="item.id == cacheTodo.id">
      </li>
    </ul>
    <div>
        <span>還有 {{ undoneTodos.length }} 筆任務未完成</span> &nbsp;
        <a href="#" @click="removeAll">清除所有任務</a>
    </div> 
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script>
    Vue.createApp({
      data(){
        return{
          task: '',
          addText: '新增事項',
          todos:[
            {
              id: 0,
              title: '待辦事項1',
              completed: true
            }
          ],
          visibility: 'all',
          cacheTodo: {},
          cacheTitle: '',
        }
      },
      methods: {
        addTodo: function(){
          var value = this.task;
          var timeStamp = Date.now();
          if(!value){
            return;
          }
          this.todos.push({
            id: timeStamp,
            title: value,
            completed: false
          })
          this.task = '';

          if(this.todos.length > 5){
            this.addText = '新增事項(已超過 5個)'
          }
        },
        editTodo: function(item){
          this.cacheTodo = item;
          this.cacheTitle = item.title;
        },
        cancelEdit: function() {
          this.initCacheTodo()
        },
        doneEdit: function(item) {
          item.title = this.cacheTitle;
          this.initCacheTodo()
        },
        initCacheTodo: function(){
          this.cacheTitle = '';
          this.cacheTodo = {}
        },
        removeTodo: function(todo){
          this.todos = this.todos.filter((item) => todo.id != item.id)
        },
        removeAll: function(){
          this.todos = [];
        }
      },
      computed: {
        filteredTodos : function(){
          switch(this.visibility){
            case 'all':
              return this.todos;
              break;
            case 'active':
              return this.todos.filter((item) => !item.completed);
              break;
            case 'completed':
              return this.todos.filter((item) => item.completed);
              break;
          }
        },
        undoneTodos: function(){
          return this.todos.filter(todo =>todo.completed != true);
        }
      }
    }).mount('#app')
  </script>
</body>
</html>